.banner {
  background-size: cover;
  background-position: center;
  height: 350px;
  padding: : 0px;
}

.banner h1 {
  margin: 0px;
  padding-top: 65px;
  padding-bottom: 15px;
}

.banner p {
  padding-top: 15px;
  padding-bottom: 15px;
}
