.footer {
  background-size: cover;
  background-position: center;
  height: 250px;
  padding: : 15px;
  margin-top: 25px;
}

.footer h2 {
  padding-top: 65px;
  padding-bottom: 15px;
  color: white;
}

.footer p {
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}
